.signup-form__container {
  width: 350px;
  height: 400px;
  background-color: #D8D9DE;
  box-shadow: #414141;
  border-radius: 10px;
}

.signup-form__input {
  width: 270px;
}

.centering-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.signup-form__button {
  margin: 0;
  width: 150px;
  height: 40px;
  background-color: #7CCC9B;
  color: white;
  font-family: Roboto, sans-serif;
  font-size: 18px;
}

.button-container {
  margin: 0;
}


