@import '../../index';

$card-color: antiquewhite;

.card-edition-form__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $card-color;
    border: solid 2px #A9A9A9;
    height: 330px;
    width: 360px;
    padding: 0;
}

.card-edition-form__title-field {
    height: 40px;
    width: 290px;
    margin-top: 30px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;

    font-family: $font-stack;
    font-size: 20px;
    font-weight: bold;
    color: #414141;
}

.card-edition-form__description-field {
    height: 160px;
    width: 290px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;

    font-family: $font-stack;
    font-size: 20px;
    font-weight: bold;
    color: #414141;
}

.card-edition-form__buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.card-edition-form__save-button {
    height: 40px;
    width: 150px;
    border-radius: 5px;
    border: solid 1px #A9A9A9;

    background-color: #e65d4d;
    color: white;
    font-family: $font-stack;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.card-edition-form__delete-button {
    height: 40px;
    width: 150px;
    border-radius: 5px;
    border: 0;

    background-color: transparent;
    color: #414141;
    font-family: $font-stack;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}


@mixin title-placeholder {
    .card-edition-form__title-field::-webkit-input-placeholder {@content}
    .card-edition-form__title-field:-moz-placeholder           {@content}
    .card-edition-form__title-field::-moz-placeholder          {@content}
    .card-edition-form__title-field:-ms-input-placeholder      {@content}
}

@mixin description-placeholder {
    .card-edition-form__description-field::-webkit-input-placeholder {@content}
    .card-edition-form__description-field:-moz-placeholder           {@content}
    .card-edition-form__description-field::-moz-placeholder          {@content}
    .card-edition-form__description-field:-ms-input-placeholder      {@content}
}

@include title-placeholder {
    font-family: $font-stack;
    font-size: 16px;
}

@include description-placeholder{
    font-family: $font-stack;
    font-size: 16px;
}
