.new-post-button__container {
    border: dashed 4px #414141;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 270px;
    box-sizing: border-box;
}
