.loader__modal {
  top: 40%;
}

.loader__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader_title {
  font-family: Roboto, sans-serif;
  font-size: 22px;
}

.modal-backdrop {
  opacity: 0.3;
}
