.page__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.page__title {
    color: #414141;
    font-size: 32pt;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    margin-bottom: 30px;
}

.page__content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
